<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Categories</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm navbar-custom" id="top-nav">
        <a class="navbar-brand" href="#">
            <img src="/img/spazzlogo.png" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active nav-left-item">
                    <a class="nav-link" href="#">Sports<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Popular <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav sm-auto">
                <li class="nav-item active">
                    <button type="button" id="signin-btn" class="btn btn-light">Sign in <i
                            class="far fa-user"></i></button>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <p class="category-header" id="category-header-title">
                    Basketball
                </p>
                <p class="category-header" id="category-header-viewers">
                    Total viewers: XXXXX
                </p>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-3">
                <div class="input-group">
                    <input type="text" class="form-control" id="stream-filter" placeholder="Filter">
                    <div class="input-group-append input-group-special">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="thumbnail-container">
                    <img src="/img/thumbnail.jpeg" alt="stream thumbnail" height="250" class="stream-thumbnail" />
                    <div class="stream-info-container">
                        <a href="#" class="stream-link">
                            <img src="/img/profile.png" alt="profile thumbnail" width="40" height="40"
                                class="stream-profile-icon">
                        </a>
                        <a href="#" class="stream-link">
                            <p class="stream-data">Stream title</p>
                        </a>
                        <p class="stream-data">Streamer username</p>
                        <p class="stream-data">Viewers: XXXXXX</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="thumbnail-container">
                    <img src="/img/thumbnail.jpeg" alt="stream thumbnail" height="250" class="stream-thumbnail" />
                    <div class="stream-info-container">
                        <a href="#" class="stream-link">
                            <img src="/img/profile.png" alt="profile thumbnail" width="40" height="40"
                                class="stream-profile-icon">
                        </a>
                        <a href="#" class="stream-link">
                            <p class="stream-data">Stream title</p>
                        </a>
                        <p class="stream-data">Streamer username</p>
                        <p class="stream-data">Viewers: XXXXXX</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="thumbnail-container">
                    <img src="/img/thumbnail.jpeg" alt="stream thumbnail" height="250" class="stream-thumbnail" />
                    <div class="stream-info-container">
                        <a href="#" class="stream-link">
                            <img src="/img/profile.png" alt="profile thumbnail" width="40" height="40"
                                class="stream-profile-icon">
                        </a>
                        <a href="#" class="stream-link">
                            <p class="stream-data">Stream title</p>
                        </a>
                        <p class="stream-data">Streamer username</p>
                        <p class="stream-data">Viewers: XXXXXX</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="thumbnail-container">
                    <img src="/img/thumbnail.jpeg" alt="stream thumbnail" height="250" class="stream-thumbnail" />
                    <div class="stream-info-container">
                        <a href="#" class="stream-link">
                            <img src="/img/profile.png" alt="profile thumbnail" width="40" height="40"
                                class="stream-profile-icon">
                        </a>
                        <a href="#" class="stream-link">
                            <p class="stream-data">Stream title</p>
                        </a>
                        <p class="stream-data">Streamer username</p>
                        <p class="stream-data">Viewers: XXXXXX</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="thumbnail-container">
                    <img src="/img/thumbnail.jpeg" alt="stream thumbnail" height="250" class="stream-thumbnail" />
                    <div class="stream-info-container">
                        <a href="#" class="stream-link">
                            <img src="/img/profile.png" alt="profile thumbnail" width="40" height="40"
                                class="stream-profile-icon">
                        </a>
                        <a href="#" class="stream-link">
                            <p class="stream-data">Stream title</p>
                        </a>
                        <p class="stream-data">Streamer username</p>
                        <p class="stream-data">Viewers: XXXXXX</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="thumbnail-container">
                    <img src="/img/thumbnail.jpeg" alt="stream thumbnail" height="250" class="stream-thumbnail" />
                    <div class="stream-info-container">
                        <a href="#" class="stream-link">
                            <img src="/img/profile.png" alt="profile thumbnail" width="40" height="40"
                                class="stream-profile-icon">
                        </a>
                        <a href="#" class="stream-link">
                            <p class="stream-data">Stream title</p>
                        </a>
                        <p class="stream-data">Streamer username</p>
                        <p class="stream-data">Viewers: XXXXXX</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="thumbnail-container">
                    <img src="/img/thumbnail.jpeg" alt="stream thumbnail" height="250" class="stream-thumbnail" />
                    <div class="stream-info-container">
                        <a href="#" class="stream-link">
                            <img src="/img/profile.png" alt="profile thumbnail" width="40" height="40"
                                class="stream-profile-icon">
                        </a>
                        <a href="#" class="stream-link">
                            <p class="stream-data">Stream title</p>
                        </a>
                        <p class="stream-data">Streamer username</p>
                        <p class="stream-data">Viewers: XXXXXX</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="thumbnail-container">
                    <img src="/img/thumbnail.jpeg" alt="stream thumbnail" height="250" class="stream-thumbnail" />
                    <div class="stream-info-container">
                        <a href="#" class="stream-link">
                            <img src="/img/profile.png" alt="profile thumbnail" width="40" height="40"
                                class="stream-profile-icon">
                        </a>
                        <a href="#" class="stream-link">
                            <p class="stream-data">Stream title</p>
                        </a>
                        <p class="stream-data">Streamer username</p>
                        <p class="stream-data">Viewers: XXXXXX</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/22d0831876.js" crossorigin="anonymous"></script>
</body>

</html>