<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <title>Your Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/global.css">
    <link rel="stylesheet" href="/stylesheets/user.css">
    <link rel="stylesheet" href="/stylesheets/global.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm navbar-custom" id="top-nav">
        <a class="navbar-brand" href="/sports">
            <img src="/img/spazzlogo.png" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active nav-left-item">
                    <a class="nav-link" href="/sports">Sports<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active nav-left-item dropdown show">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Browse</a>
                    <div class="dropdown-menu" aria-labelledby="userInfo" id="browse-dropdown">
                    </div>
                </li>

            </ul>

            <ul class="navbar-nav sm-auto">
                <div class="dropdown show">
                    <a class="nav-item active dropdown-toggle hidden" role="button" id="userInfo" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="userInfo" id="userInfo-dropdown">
                        <a class="dropdown-item" href="http://localhost:3000/user">Profile</a>
                        <a class="dropdown-item" href="http://localhost:3000/logout">Logout</a>
                    </div>
                    <img id="profilePic" alt="Profile Picture" class="hidden">
                </div>
                <li class="nav-item active">
                    <a href="/login"><button type="button" id="signin-btn" class="btn btn-light">Sign in <i
                                class="far fa-user"></i></button></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-lg-6 col-md-12">
                <h2>How to stream</h2>
                <ol>
                    <li>
                        Download and start your RTMP client. OBS is recommended: <a href="https://obsproject.com/">https://obsproject.com/</a>
                    </li>
                    <li>
                        Point your RTMP client to rtmp://localhost/live
                    </li>
                    <li>
                        Copy your entire stream key from <a href="/user">/user</a> into the stream key field of your RTMP client
                    </li>
                    <li>
                        Start streaming!
                    </li>
                </ol>
            </div>
        </div>
       
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/22d0831876.js" crossorigin="anonymous"></script>
    <script src="/js/global.js"></script>
    <script src="/js/navBar.js"></script>
    <script src="/js/help.js"></script>
</body>

</html>