<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <title>Your Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/global.css">
    <link rel="stylesheet" href="/stylesheets/user.css">
    <link rel="stylesheet" href="/stylesheets/global.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm navbar-custom" id="top-nav">
        <a class="navbar-brand" href="/sports">
            <img src="/img/spazzlogo.png" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active nav-left-item">
                    <a class="nav-link" href="/sports">Sports<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active nav-left-item dropdown show">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Browse</a>
                    <div class="dropdown-menu" aria-labelledby="userInfo" id="browse-dropdown">
                    </div>
                </li>

            </ul>

            <ul class="navbar-nav sm-auto">
                <div class="dropdown show">
                    <a class="nav-item active dropdown-toggle hidden" role="button" id="userInfo" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="userInfo" id="userInfo-dropdown">
                        <a class="dropdown-item" href="http://localhost:3000/user">Profile</a>
                        <a class="dropdown-item" href="http://localhost:3000/logout">Logout</a>
                    </div>
                    <img id="profilePic" alt="Profile Picture" class="hidden">
                </div>
                <li class="nav-item active">
                    <a href="/login"><button type="button" id="signin-btn" class="btn btn-light">Sign in <i
                                class="far fa-user"></i></button></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-lg-6 col-md-12">
                <h2>Your Profile</h2>
                <img src="/img/thumbnail.jpeg" alt="" height="250" id="profile-picture" />
                <p class="user-info">
                    Username: <span id="current-username"></span>
                </p>

                <p class="user-info">
                    Profile picture URL: <span id="current-profileurl"></span>
                </p>
                <p class="user-info">
                    Your stream: <a id="stream-link" href="#"></a>
                </p>
                <!-- Modal -->
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#userModal">
                    Configure Your Profile
                </button>
                <div class="modal fade modal-dark" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="userModalLabel">Update Your Profile</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="new-profileurl">Profile Picture URL</label>
                                <input type="text" class="form-control" id="new-profileurl" aria-describedby="currentProfileUrlHelp" placeholder="Enter Image URL">
                                <small id="currentProfileUrlHelp" class="form-text text-muted">Current: blahblah.png</small>
                              </div>
                        </div>
                        <div class="modal-footer">
                        <p id="user-status-msg"></p>
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary" id="update-user-btn">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>

                
                <h2>Your stream details</h2>
                <p class="user-info">
                    Stream Title: <span id="current-title">stream title</span>
                </p>
                <p class="user-info">
                    Stream Category: <span id="current-category">Basketball</span>
                </p>
                <p class="user-info">
                    Stream Key: <span id="stream-key">XXX-XXXX</span><span> (Copy the ENTIRE KEY)</span>
                </p>
                <p class="user-info">
                    Stream thumbnail URL: <span id="stream-thumb"></span>
                </p>
                <p class="user-info"> 
                    Point your RTMP client to: rtmp://localhost/live
                </p>
                <p class="user-info"> 
                    For more information: <a href="/help">How do I stream?</a>
                </p>
            </div>
        </div>
        <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#streamModal">
    Configure Your Stream
  </button>
  
  <!-- Modal -->
  <div class="modal fade modal-dark" id="streamModal" tabindex="-1" role="dialog" aria-labelledby="streamModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="streamModalLabel">Update Your Stream</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                  <label for="new-title">Stream Title</label>
                  <input type="text" class="form-control" id="new-title" aria-describedby="titleHelp" placeholder="Enter Title">
                  <small id="titleHelp" class="form-text text-muted">2-20 characters long</small>
                  <small id="currentTitleHelp" class="form-text text-muted">Current: Idiot's stream</small>
                </div>
                <div class="form-group">
                    <label for="new-stream-thumb">Stream Thumbnail URL</label>
                    <input type="text" class="form-control" id="new-stream-thumb" aria-describedby="streamThumbHelp" placeholder="Enter Image URL">
                    <small id="currentThumbHelp" class="form-text text-muted">Current: blahblah.png</small>
                  </div>
                <div class="form-group">
                    <label for="new-category">Stream Category</label>
                    <select id="new-category" class="form-control">
                    </select>
                    <small id="currentCategoryHelp" class="form-text text-muted">Current: Basketball</small>
                </div>
              </form>
        </div>
        <p id="stream-status-msg"></p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="update-stream-btn">Save changes</button>
        </div>
      </div>
    </div>
  </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/22d0831876.js" crossorigin="anonymous"></script>
    <script src="/js/global.js"></script>
    <script src="/js/user.js"></script>
    <script src="/js/navBar.js"></script>
</body>

</html>