.input-group-text {
    margin-bottom: 5px !important;
}

.success {
    color: green;
}

.failed {
    color: red;
}

#profile-picture {
    width: 125px;
    height: 125px;
}

.user-info {
    margin-bottom: 10px;
}
