body {
    background-color: #121319 !important;
    color: #fff;
    font-family: 'Montserrat', sans-serif !important;
}

.navbar-custom {
    background-color: #17191F !important;
}

.input-group-text {
    border: none; 
    background-color: black !important;
    text-align: left;
}

.dropdown-menu {
    min-width: 0.25rem;
}

.hidden {
    visibility: hidden;
}

.modal-dark {
    color: #121319;
}
